{
  "rules": {
    "camelcase":                0,
    "comma-spacing":            0,
    "eol-last":                 0,
    "indent":                   [ 2, 2 ],
    "key-spacing":              0,
    "no-loop-func":             0,
    "no-multi-spaces":          0,
    "quotes":                   0,
    "space-infix-ops":          0,
    "semi-spacing":             0,
    "no-underscore-dangle":     0,
    "no-new":                   0
  },
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
  },
  "parser": "babel-eslint"
}
